.t-wrapper {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading {
    align-self: start;
}

.t-heading>* {
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--orange);
}

.t-blur1 {
    left: 38rem;
    top: 16rem;
}

.t-blur2 {
    top: 9rem;
    left: 0;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    max-width: 35rem;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.testimonial:hover {
    transform: translateY(-10px);
}

.testimonial > img {
    width: auto;
    height: 6rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.testimonial-content {
    text-align: center;
}

.project-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
    margin-bottom: 1rem;
}

.review {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.5;
}

.testimonial > span {
    color: var(--gray);
}

.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: var(--orange);
}

@media screen and (max-width: 480px) {
    .t-wrapper {
        padding: 0;
    }
    .testimonial > img {
        width: 70px;
        height: 70px;
    }
    .project-name {
        font-size: 1rem;
    }
    .review {
        font-size: 0.6rem;
    }
}
